#header, #content {
  width:/*site_width*//*banner_image.width*/100%/*banner_image.width*//*site_width*/;
  margin:auto;
}

#footer {
  width:/*site_width*//*banner_image.width*/100%/*banner_image.width*//*site_width*/;
  margin:auto;
}

#header {
  background-image:/*banner_image*/none/*banner_image*/;
  height:/*banner_image.height*/auto/*banner_image.height*/;
}

.site-name {
  font-family:/*site_name_font*/Verdana,Arial,Helvetica,sans-serif/*site_name_font*/;
  font-size:/*site_name_font_size*/2em/*site_name_font_size*/;
}

.site-name a, .site-name a:link, .site-name a:visited, .site-name a:hover {
  color:/*site_name_color*/#FFFFFF/*site_name_color*/;
}

.site-slogan {
  font-family:/*site_slogan_font*/Verdana,Arial,Helvetica,sans-serif/*site_slogan_font*/;
  font-size:/*site_slogan_font_size*/1em/*site_slogan_font_size*/;
}

.site-slogan a, .site-slogan a:link, .site-slogan a:visited, .site-slogan a:hover {
  color:/*site_slogan_color*/#FFFFFF/*site_slogan_color*/;
}
